<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KickBlastJudo"
			 connectionString="Server=DESKTOP-N24FUD9\SQLEXPRESS;Database=KickBlastJudoDB;Trusted_Connection=True;TrustServerCertificate=True;" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
